
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Add Records</mat-label>
      <input matInput disabled value="Iauro">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
     
    </tr></table>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Percentage</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      
    </tr></table>
   
    
  </form>
  <div class="hh">
    <button  mat-flat-button color="warn" >Add</button>
</div>
 