.hh{
    display: flex;
    justify-content: center;
    width: 120px;
    margin-top: 5%;
    margin-left: 45%;
    align-self: center;
}
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
.example-button-container{
  size: 2px;
  padding: 5px;
  margin: 2px;
}